<div class="choices">
    <h2>Select Rock, Paper, or Scissor to Fight the Computer</h2>
    <br>
    <br>
    <br>
    <div class="imageChoices">
        <button id="rock" (click)="player('rock')">
            <div class="theRock">
                <!-- <img class="theRockImage" style="display: block;" src="rpsImages/dwayne-the-rock-johnson-pink-suit-cardboard-cutout.png"> -->
            </div>
        </button>
        <button id="paper" (click)="player('paper')">
            <div class="paperSheet">
                <!-- <img class="paperSheetImage" style="display: block;" src="rpsImages/paper.png"> -->
            </div>
        </button>
        <button id="scissor" (click)="player('scissor')">
            <div class="scissorDrawing">
                <!-- <img class="scissorDrawingImage" style="display: block;" src="rpsImages/scissor.png"> -->
            </div>
        </button>
    </div>
    <h6>Reminder: The Rock will smask scissors, paper smothers the Rock, and scissors cuts through paper</h6>

    <div class="resultImage"></div>
    <h1>{{info.result}}</h1>
</div>
