.view-list{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}
.view-list-button{
    width:820px;
    height:200px;
    font-size: 48px;
    background-image: url("./groceryImages/grocery-basket.jpg");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.view-recipes{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.view-recipes-button{
    width:820px;
    height:200px;
    font-size: 48px;
    background-image: url("./groceryImages/recipe-lists.jpg");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}