<div class="container">
    <form #form="ngForm" >
        <div class="form-group">
            <label for="bill">Enter your tip amount below</label>
            <br>
            <input id="customtip" name="customtip" placeholder="Tip Amount" [(ngModel)]="billprev.tipAmount">
        </div>
        <div class="form-group buttonsgrouping mt-3">
            <button style="background-color:  #74adaa; color: #FFFFFF;" class="btn btn-lg  flex-fill custom-button-spacing" (click)="calculateTip()">Tip</button>
        </div>
    </form>
    <p class="mt-4" >Tip: ${{ billprev.tipAmount }}</p>
    <p>Subtotal: ${{ billprev.bill }}</p>
    <p>Total: ${{ billprev.tipTotal }}</p>
</div>