<div class="dashboard">
    <div class="form-group">
        <form (ngSubmit)="searchWeather()">
        <label for="cityName" style="font-family: 'sansationregular';font-size: 50px;">Weather Dashboard</label>
        <br>
        <br>
        <div class="input-container">
            <input class="form-control" style="font-family: 'sansationregular'; width: 400px; height: 60px; font-size: 35px; margin-right: 5px;" placeholder="Enter city name" [(ngModel)]="cityName" name="cityName" required>
            <button style="background-color:  #74adaa; color: #FFFFFF; border: none; cursor: pointer;" class="btn btn-lg custom-button-spacing" type="submit">Search</button>
        </div>
        </form>
    </div>
    <div *ngIf="weatherData" class="weather-info">
        <br>
        <div class="top-area">
            <div [ngClass]="getTemperatureClass(weatherData?.main?.temp)" style="height: 300px; width:400px; font-size: 35px; display: flex; align-items: center;">
                <p style="font-family: 'sansationregular';">Temperature: <br><br><br> {{ (weatherData.main.temp  - 273.15) * 9/5 + 32  | number:'1.2-2'}} &deg;F</p>
            </div>
            
            <div class="weather-humidity" [style.background]="getBackgroundColor(weatherData.main.humidity)" style="height: 300px; width:400px; font-size: 35px; display: flex; align-items: center;">
                <p style="font-family: 'sansationregular';">Humidity: {{ weatherData.main.humidity }}%</p>
            </div>
        </div>
        
        <div class="weather-description">
            <p style="font-family: 'sansationregular'; display: inline; margin-right: 10px;">Description: {{ weatherData.weather[0].description }}</p>
            <img [src]="weatherData?.weather[0].icon ? 'https://openweathermap.org/img/wn/' + weatherData.weather[0].icon + '.png' : ''" style="display: inline;">
        </div>
    </div>
</div>