<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <base href="/angular-app/">
</head>
<div class="background-image">
  <ul class="nav-menu clearfix unstyled">
    <li><a  class="three-d active">
      Angular App
      <span class="three-d-box"><span class="front">Angular App</span><span class="back">Angular App</span></span>
    </a></li>
    <li><a routerLink='/tip-calculator' class="three-d">
      Tip Calculator
      <span class="three-d-box"><span class="front">Tip Calculator</span><span class="back">Tip Calculator</span></span>
    </a></li>
    <li><a routerLink='/grocery-list' class="three-d">
      Grocery List
      <span class="three-d-box"><span class="front">Grocery List</span><span class="back">Grocery List</span></span>
    </a></li>
    <li><a routerLink='/rps' class="three-d">
      Rock Paper Scissor
      <span class="three-d-box"><span class="front">Rock Paper Scissor</span><span class="back">Rock Paper Scissor</span></span>
    </a></li>
    <li><a routerLink='/weather' class="three-d">
      Weather Dashboard
      <span class="three-d-box"><span class="front">Weather Dashboard</span><span class="back">Weather Dashboard</span></span>
    </a></li>
  </ul>
  <router-outlet></router-outlet>
</div>
