.mat-dialog-container {
    background-color: #51938f; /* Change the background color */
    font-size: 16px; /* Change the font size */
    text-align: left;
    font-family: 'sansationregular';
}